<IfModule mod_rewrite.c>
   # Don't change this settings, instead edit the configs.json
   RewriteEngine On

   # Accept Authorization Header
   RewriteCond %{HTTP:Authorization} ^(.+)$
   RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

   # Redirect to the same URI with a trailing slash
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteCond %{REQUEST_URI} !(.+/$)
   RewriteCond %{REQUEST_URI} !^/$
   RewriteRule ^ %{REQUEST_URI}/ [L,R=301]

   # Send Request to bootstrap configuration
   RewriteCond %{REQUEST_FILENAME} !-d|-f
   RewriteRule ^(.*)$ src/routes/render.php?uri=$1 [QSA,L]
</IfModule>